.mainContainer {
    font-family: Arial, sans-serif;
    height: auto;
    width: 90%;
    max-width: 500px;
    display: inline-block;
    justify-content: center;
    margin: 20px 0;
}

.navContainer {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
.navButton {
    all: unset;
    border: 1px solid #CCD1D9;
    border-radius: 5px;
    height: 40px;
    width: 48%;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 2px 1px 1px 0 rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    2px 1px 1px 0 rgba(50, 50, 50, 0.61);
    box-shadow:         2px 1px 1px 0 rgba(50, 50, 50, 0.61);
    &:hover {
        background-color: #E6E6E8;

    }
    &.active {
        font-weight: 550;
        background-color: #E6E6E8;
    }
    & span {
      color: green;
      font-weight: 550;
  }
}
